### 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [9]:
length = int(input("Please input length of a rectangle : "))
breadth = int(input("Please input breadth of a rectange : "))

if length == breadth:
    print("This is a square")
else:
    print("This is a normal rectangle not a square")

Please input length of a rectangle : 10
Please input breadth of a rectange : 10
This is a square

### 2. Take three integer values from the user and print the greatest among them.

In [10]:
x, y, z = int(input("x = ")), int(input("y = ")), int(input("z = "))

if x > y and x > z :
    greatest = x
elif y > x and y > z:
    greatest = y
else: 
    greatest = z

print(f"{greatest} is the greatest number of 3 inputs!")

x = 10
y = 10
z = 10
10 is the greatest number of 3 inputs!

In [11]:
inputed_values = int(input("x = ")), int(input("y = ")), int(input("z = "))
f"{sorted(list(inputed_values))[-1]} is the greatest of all inputs"

x = 1
y = 2
z = 3

'3 is the greatest of all inputs'

### 3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [12]:
attendance = int(input("Enter your attendance: "))

if attendance < 75:
    print("Sorry! You're not allowed to sit in this exam as your attendance is bellow 75%")
    print("Your attendanace is {}%".format(attendance))
else:
    print(f"Your attendance is {attendance}%. Awesome see you in exam hall!" )

Enter your attendance: 99
Your attendance is 99%. Awesome see you in exam hall!

### A school has the following rules for the grading system:
- Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, <b style="color:red">Above 90 - A+</b> (asumed it as 90 and above)
Now, Ask the user to enter marks and print the corresponding grade.

In [13]:
mark = int(input("Please enter your mark: "))

if mark < 25:
    print("grade is F")
elif mark >= 25 and mark <= 44:
    print("grade is E")
elif mark >= 45 and mark <= 49:
    print("grade is D")
elif mark >= 50 and mark <= 59:
    print("grade is C")
elif mark >= 60 and mark <= 79:
    print("grade is B")
elif mark >= 80 and mark <= 89:
    print("grade is A")
elif mark >= 90:
    print("grade is A+")

Please enter your mark: 34
grade is E

## Loop Problem:
### 5. Print the following pattern using for and while loop.  
1 2 3 4 5 6 7  
1 2 3 4 5 6  
1 2 3 4 5  
1 2 3 4

In [14]:
# whithout thinking things through!
for i in range(1,8):
    print(i, end=" ")
    if i == 7:
        print()
for i in range(1,7):
    print(i, end=" ")
    if i == 6:
        print()
for i in range(1,6):
    print(i, end=" ")
    if i == 5:
        print()
for i in range(1,5):
    print(i, end=" ")

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [15]:
# using only for loop
stop = 8
for i in range(1, 5):
    
    for i in range(1, stop):
        print(i, end=" ")
    stop -= 1
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [40]:
# mixing while and for loop
outer_loop = 0
stop = 8
while outer_loop < 4:
    for i in range(1, stop):
        print(i, end=" ")
    outer_loop += 1
    stop -= 1
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [45]:
# using only while loop

outer_loop = 0
inner_loop = 0
list_of_values = [1,2,3,4,5,6,7]

while outer_loop < 4:
    while inner_loop < len(list_of_values):
        print(list_of_values[inner_loop], end=" ")
        
        inner_loop += 1
    print()
    list_of_values.pop()
    outer_loop += 1
    inner_loop = 0

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [46]:
l = [1,2,3,4,5,6,7]
i = 0
while i < len(l):
    print(l[i], end=" ")
    i += 1

1 2 3 4 5 6 7

### 6. Display numbers from -100 to -10 using for loop.

In [1]:
for i in range(-100, -10 + 1):
    print(i)

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

### 7. Write a program to sum all prime numbers within a range of 10 to 1000.

***a whole number is greater than 1 that cannot be exactly divided by any whole number other than itself***

In [29]:
for i in range(1, 11 + 1):
    if 11 % i == 0:
        print(i)

1
11

In [33]:
prime_numbers = []

for number in range(10, 1001):
    factors = []
    for i in range(1, number + 1):
        if number % i == 0:
            factors.append(i)
    
    if len(factors) == 2:
        prime_numbers.append(number)
print(len(prime_numbers))
print(sum(prime_numbers))

164
76110

### 8. Find the factorial of an n! (Hint, n=7: 7 * 6 * 5 * 4 * 3 * 2 * 1).

In [29]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return (n * factorial(n-1))

In [30]:
factorial(7)

5040

In [31]:
# factorial of number 7

In [32]:
reversed_list = sorted(list(range(1, 7+1)),reverse=True)

mul = 1
for num in reversed_list:
    mul = mul * num
mul

5040

In [22]:
n = int(input("Enter the number you want factorial of : "))

factorial = 1
for i in range(n+1):
    if i == 0:
        continue
    factorial = factorial * i

print(factorial)

Enter the number you want factorial of : 7
5040

### 9. Reverse a given integer number 27956240710.

In [15]:
devidend = 27956240710
reversed_devidend = 0

while devidend > 0:
    quotient = int(devidend / 10)
    remainder = devidend % 10
    
    reversed_devidend = reversed_devidend * 10 + remainder
    devidend = quotient

print(reversed_devidend)

1704265972

### 10. Print the following pattern using for and while loop.

\# # #  
\#  #  #  #  
\#  #  #  
\#  #

In [6]:
# using for loop
for j in [3,4,3,2]:
    print(j*"# ")

# # #
# # # #
# # #
# #

In [8]:
# using while loop

l = [3,4,3,2]
i = 0
while i < len(l):
    print(l[i] * "# ")
    i += 1

# # #
# # # #
# # #
# #

### 11. Display the Fibonacci series of 15 elements using the for and while loop.
- a series of numbers in which each number ( Fibonacci number ) is the sum of the two preceding numbers. The simplest is the series 1, 1, 2, 3, 5, 8, etc.

In [29]:
# using for loop

fibonacci_ser = []
number_of_fib_elements = int(input("Enter number of elements : "))

for iterator in range(number_of_fib_elements):
    
    # check lenth of fibonacci series
    if len(fibonacci_ser) == 0:
        fibonacci_ser.append(1)
    
    elif len(fibonacci_ser) == 1:
        fibonacci_ser.append(1)
    
    elif len(fibonacci_ser) >= 2 and len(fibonacci_ser) < number_of_fib_elements:
        last_val = fibonacci_ser[-1]
        second_last = fibonacci_ser[-2]
        
        next_value = second_last + last_val
        fibonacci_ser.append(next_value)
        

fibonacci_ser

Enter number of elements : 5

[1, 1, 2, 3, 5]

In [3]:
# using while loop

fibonacci_ser = []
number_of_fib_elements = int(input("Enter number of elements : "))

while number_of_fib_elements > 0:
    
    if len(fibonacci_ser) == 0:
        fibonacci_ser.append(1)
        
        
    elif len(fibonacci_ser) == 1:
        fibonacci_ser.append(1)
        
        
    elif len(fibonacci_ser) >= 2:
        last_val = fibonacci_ser[-1]
        second_last = fibonacci_ser[-2]
        
        next_value = last_val + second_last
        fibonacci_ser.append(next_value)
    
    number_of_fib_elements -= 1
    
    
fibonacci_ser

Enter number of elements : 15

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

# Python builtin Data Structure:
### 12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]  
Output = [1,3,5, [3,3], False]

In [10]:
Li = [1,3,5,[2,3], True]

In [15]:
Li[3][0] = 3

In [18]:
Li[-1] = False

In [19]:
Li

[1, 3, 5, [3, 3], False]

### 13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}  
S2 = {True, 1,2,10}

In [40]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [45]:
# True and 1 are considered the same value in sets and are treated as duplicates
S_intersection = S1.intersection(S2)
S_intersection

{True}

### 14. Input a list from the user then Remove duplicates from a list and create a set and find the max number

User_input = [1,9,3,4,5,200,54]

In [5]:
User_input = int(input("Enter a list size: "))
lst = []

for i in range(User_input):
    element = int(input(f"Enter element {i+1} : "))
    lst.append(element)
lst

Enter a list size: 7
Enter element 1 : 1
Enter element 2 : 9
Enter element 3 : 3
Enter element 4 : 4
Enter element 5 : 5
Enter element 6 : 200
Enter element 7 : 54

[1, 9, 3, 4, 5, 200, 54]

In [6]:
# to remove duplicates from list we can turn the list into a set
st = set(lst)

In [7]:
st

{1, 3, 4, 5, 9, 54, 200}

In [9]:
# maximum num in set
max(st)

200

### 15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }  
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [14]:
Dict = {
    "name":"Shakil",
    "age": 27,
    "city": "Berlin",
    "country": "Germany"
}
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}

In [15]:
Dict["region"] = Dict.pop("country")

In [16]:
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

### 16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [17]:
import pandas as pd

In [18]:
df = pd.DataFrame([10, 100, 300])
df

     0
0   10
1  100
2  300

### 17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.  
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [19]:
Dict = {
    "name": "Shakil",
    "age": 27,
    "city": "Berlin",
    "country": "Germany"
}
Dict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}

In [20]:
Dict["age"] = 28
Dict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}